<!-- <h3>Home</h3> -->
<% @users.each do |user| %>
  <!-- <p>User: <%=link_to user.name, user %></p> -->
<% end %>
<section class="container textCenter">
	<%= image_tag "roomidexlogobanner-beta.png", class: "roomidex-logo" %>
	<div class="row movingInput">
		<div class="halo clearfix col-md-offset-3 col-md-6">
			<div class="row">
				<div class="col-md-7">
					<select class="form-control">
						<optgroup label="Where are you moving?">
						  <option>San Francisco, CA</option>
						  <option>New York, NY</option>
						</optgroup>
					</select>
				</div>
				<div class="col-md-4">
					<a href="#" class="fbLogin">
						<%= image_tag "facebook-login.png" %>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row fbLikes">
		<div 
			class="fb-like" 
			data-href="https://www.facebook.com/Roomidex" 
			data-layout="standard" 
			data-action="like" 
			data-show-faces="true" 
			data-share="true">
		</div>
	</div>
</section>