<section class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Your Roomidex</h1>
      <% @roomidex_relationships.each do |r| %>
        <%
          user = r.user_id == current_user.id ? r.friend : r.user
        %>
        <%= render(:partial => 'users/user_search_result', :locals => { :user => user }) %>
      <% end %>
      <div>
        <%= link_to 'Find more roomates', root_path %>
      </div>
    </div>
  </div>
</section>
