/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.navbar-spacer {
	height: 50px;
}

// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	background: #69d2e7;
	body {
		background: #69d2e7;
		.navbar {
			background: #4b4f7f;
			border-bottom: 1px solid rgba(0,0,0,0.1);
			-webkit-box-shadow: 0 1px 16px rgba(0,0,0,0.2);
			-moz-box-shadow: 0 1px 16px rgba(0,0,0,0.2);
			box-shadow: 0 1px 16px rgba(0,0,0,0.2);
			ul.navbar-right {
				margin-right: 0px;
				&:last-child {
					margin-right: 0px;
				}
			}
			.navbar-brand {
				color: white;
				&:hover {
					color: rgba(252, 252, 252, 0.8);
				}
			}
			.navbar-nav > li > a {
				color: white;
				&:hover {
					color: rgba(252, 252, 252, 0.8);
				}
			}
		}
	}
}

.friendsInCommon {
	p {
		margin-bottom: 2px;
	}
	ul {
		padding: 0px 0px 10px;
		li {
			float: left;
			clear: none;
			list-style: none;
			margin-right: 2px;
			img {
				width: 30px;
				height: 30px;
			}
		}
	}
}

.addToRoomidexBtnContainer .btn-block + .btn-block {
	margin: 0px;
}

