// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	background: #69d2e7;
	body {
		background: #69d2e7;
		text-align: center;
		.roomidex-logo {
			margin-top: 60px;
		}
		.movingInput {
			margin-top: 60px;
			.halo {
				background: rgba(255, 255, 255, 0.4);
				padding: 10px;
				select {
					height: 41px;
				}
			}
		}
		.fbLikes {
			margin-top: 40px;
		}
	}
}

.navbar {
	background: #4b4f7f;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 16px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 16px rgba(0,0,0,0.2);
	box-shadow: 0 1px 16px rgba(0,0,0,0.2);
	ul.navbar-right {
		margin-right: 0px;
		&:last-child {
			margin-right: 0px;
		}
	}
	.navbar-brand {
		color: white;
	}
	.navbar-nav > li > a {
		color: white;
		&:hover {
			color: rgba(252, 252, 252, 0.8);
		}
	}
}

.navbar-spacer {
	height: 50px;
}