#users_edit {
	.well {
		margin-top: 20px;
		.form {
			text-align: left;
		}
	}
}

#users_show {
	.headerRow {
		margin-top: 10px;
		.titleInfo {
			margin-bottom: 25px;
		}
		img {
			width: 100%;
			padding: 5px;
			margin: 10px auto;
			border: 1px solid rgba(0,0,0,0.3);
			background: white;
			border-radius: 3px;
		}
	}
}