<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <%= link_to "Roomidex", root_path, :class => 'navbar-brand' %>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li>
        <a href="#"><%= current_user.name %></a>
      </li>
      <li>
        <div class="navbar-form">
          <%= link_to 'Logout', signout_path, class: "btn btn-default" %>
        </div>
      </li>
    <% else %>
      <li>
        <div class="navbar-form">
          <%= link_to 'Login', signin_path, class: "btn btn-primary" %>
        </div>
      </li>
    <% end %>
  </ul>
</nav>
<div class="navbar-spacer">
</div>
