<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <%= link_to "Roomidex", root_path, :class => 'navbar-brand' %>
  </div>
  <div class="pull-right">
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li>
          Logged in as <%= current_user.name %>
        </li>
        <li>
          <%= link_to 'Logout', signout_path, class: "btn btn-primary" %>
        </li>
      <% else %>
        <li>
          <div class="navbar-form">
            <%= link_to 'Login', signin_path, class: "btn btn-primary" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
<div class="navbar-spacer">
</div>
